<form [formGroup]="registerForm" (ngSubmit)="register()">

  <mat-card class="books-add-container container">
    <mat-card-header>
      <mat-card-title>REGISTER FORM</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field>
        <input formControlName="email" [(ngModel)]="email" matInput placeholder="Email" >
        <mat-error *ngIf="registerForm.get('email').errors && registerForm.get('email').errors.required"  class="text-error">Email is required</mat-error>
        <mat-error *ngIf="registerForm.get('email').errors && registerForm.get('email').errors.email"  class="text-error">Email must be a valid email address</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input type="password" formControlName="password" [(ngModel)]="password" matInput placeholder="Password">
        <mat-error *ngIf="registerForm.get('password').errors && registerForm.get('password').errors.required"  class="text-error"> Password is required</mat-error>
        <mat-error *ngIf="registerForm.get('password').errors && registerForm.get('password').errors.minlength"  class="text-error"> Password must be at least 6 characters</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input type="password" formControlName="confirmPassword" [(ngModel)]="confirmPassword" matInput placeholder="Password">
        <mat-error *ngIf="registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').errors.required"  class="text-error"> Password is required</mat-error>
        <mat-error *ngIf="registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').errors.mustMatch"  class="text-error"> Passwords must match</mat-error>
      </mat-form-field>

      <button mat-button >Login</button>
    </mat-card-content>
  </mat-card>
</form>





