
<form>

  <mat-card class="books-add-container container">
    <mat-card-header>
      <mat-card-title>LIST BOOK FORM</mat-card-title>
      <button mat-button [routerLink]="['/new-book']">Add book</button>
      <!--<app-menu></app-menu>-->
    </mat-card-header>

    <mat-card-content>

<!--        <mat-table [dataSource]="books" class="mat-elevation-z8">-->
<!--          &lt;!&ndash; Position Column &ndash;&gt;-->
<!--          <ng-container matColumnDef="title">-->
<!--            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>-->
<!--            <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>-->
<!--          </ng-container>-->

<!--          &lt;!&ndash; Name Column &ndash;&gt;-->
<!--          <ng-container matColumnDef="image">-->
<!--            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>-->
<!--            <mat-cell *matCellDef="let element"> {{element.image}} </mat-cell>-->
<!--          </ng-container>-->

<!--          &lt;!&ndash; Weight Column &ndash;&gt;-->
<!--          <ng-container matColumnDef="quantity">-->
<!--            <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>-->
<!--            <mat-cell *matCellDef="let element"> {{element.quantity}} </mat-cell>-->
<!--          </ng-container>-->

<!--          &lt;!&ndash; Symbol Column &ndash;&gt;-->
<!--          <ng-container matColumnDef="category">-->
<!--            <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>-->
<!--            <mat-cell *matCellDef="let element"> {{element.category}} </mat-cell>-->
<!--          </ng-container>-->


<!--          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>-->
<!--          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>-->
<!--        </mat-table>-->

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
          <!-- ID Column -->
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> title </th>
            <td mat-cell *matCellDef="let row" [routerLink]="['/book-detail', row._id]" > {{row.title}} </td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> image </th>
            <td mat-cell *matCellDef="let row" [routerLink]="['/book-detail', row._id]"> {{row.image}}% </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> quantity </th>
            <td mat-cell *matCellDef="let row" [routerLink]="['/book-detail', row._id]"> {{row.quantity}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> category </th>
            <td mat-cell *matCellDef="let row" [routerLink]="['/book-detail', row._id]"> {{row.category}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>

    </mat-card-content>
  </mat-card>
</form>


