/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i&display=swap');

body {
  font-family: 'Roboto', 'Arial';
}

a {
  text-decoration: none
}

.bg-primary-purple {
  background-color: #6200EE;
}

.c-primary-purple {
  color: #6200EE;
}

.c-white { color: white;  }

app-top-bar {
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.container {
  max-width: 800px;
  width:  90%;
  margin: 100px auto 10px auto;
}

.books-add-container mat-card-content {
  display: flex;
  flex-direction: column;
}

.books-list-container {
  max-width: 900px;
  margin: 40px auto 0px auto;
}
.books-list-container__list {
  line-height: 25px
}
.books-list-container__list__item {
  border-top: 1px solid #dbdbdb;
  padding: 10px !important;
}
.books-list-container__list__item-desc {
  font-style: italic;
  color: #999;
  font-size: 15px
}
