<form [formGroup]="addBookForm">
  <mat-card class="books-add-container container">
    <mat-card-header>
      <div mat-card-avatar class="books-add-container_header_image">
        <i class="material-icons">library_books</i>
      </div>
      <mat-card-title>NEW BOOK FORM</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field>
        <input  formControlName="title" [(ngModel)]="title" matInput placeholder="Title">
        <mat-error *ngIf="addBookForm.get('title').errors && addBookForm.get('title').errors.required"  class="text-error">Title is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select placeholder="Category" [(ngModel)]="category" formControlName="category">
          <mat-option *ngFor="let item of categories" [value]="item">{{item}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input  type="number" formControlName="quantity" [(ngModel)]="quantity" matInput placeholder="Quantity">
        <mat-error *ngIf="addBookForm.get('quantity').errors && addBookForm.get('quantity').errors.required"  class="text-error">Quantity is required</mat-error>

      </mat-form-field>

      <mat-form-field>
        <input  type="number" formControlName="price" [(ngModel)]="price" matInput placeholder="Price">
        <mat-error *ngIf="addBookForm.get('price').errors && addBookForm.get('price').errors.required"  class="text-error">Price is required</mat-error>

      </mat-form-field>

      <mat-form-field>
        <textarea formControlName="description"  [(ngModel)]="description" matInput rows="5" placeholder="Description"></textarea>
      </mat-form-field>

      <!--      <button class="bg-primary-purple c-white" mat-button (event)="$event">ADD NEW</button>-->
    </mat-card-content>
  </mat-card>
</form>
